@import '../../styles/global.scss';

main.Container {
    @include spacing-section();

    h1 {
        margin-bottom: 2rem;
    }

    .termo-scroll {
        background-color: $color-bglight;
        overflow-y: auto;
        height: 320px;
        // max-height: 600px;
        @media screen and (min-height: 570px) {
            height: 380px;
        }
        @media screen and (min-height: 590px) {
            height: 410px;
        }
        @media screen and (min-height: 690px) {
            height: 462px;
        }
        @media screen and (min-height: 790px) {
            height: 560px;
        }

        font-family: $font-secundary, sans-serif;
        color: #000;
        padding: 1rem;

        margin-bottom: 1.5rem;

        h2 {
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        // p:last-child {
        //     margin-bottom: 2rem;
        // }

        ul {
            margin-bottom: 5rem;
            li {
                list-style: disc;
                margin: 15px;
                // padding: 20px;
            }
        }
    }

    .checkbox-label {
        display: flex;
        gap: .8rem;

        margin-bottom: 2.5rem;

        p {
            position: relative;
            top: .1rem;
        }
    }

    .div-btn {
        display: flex;
        justify-content: right;
        padding-right: 1rem;

        button.next {
            background-color: transparent;
            background-image: url(../../assets/Rectangle.svg);
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            // width: 83px;

            color: #fff;
            font-size: 2rem;
            letter-spacing: .5px;
            padding: .7rem 1rem .4rem .7rem;

            filter: drop-shadow(0 0 5px $color-main);

            transition: all .3s ease-in-out;
            &:hover {
                filter: drop-shadow(0 0 15px $color-main) brightness(1.1);
            }
            &:active {
                filter: drop-shadow(0 0 15px $color-main) brightness(0.8);
            }
        }
    }
}