@import '../../styles/global.scss';

main.Container {

    .instrucoes {
        display: flex;
        align-items: baseline;
        gap: 2rem;
        @media screen and (max-width:480px) {
            flex-direction: column;
            align-items: center;
        }

        margin-bottom: 3.5rem;

        img {
            max-width: 280px;
        }
    }
}